<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Generador de Reportes</title>
</head>
<body>
    <h1>Sube tu archivo CSV y opcionalmente la Wordcloud</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="csv_file">Archivo CSV:</label>
        <input type="file" id="csv_file" name="csv_file" required><br><br>
        
        <label for="wordcloud_file">Wordcloud (opcional):</label>
        <input type="file" id="wordcloud_file" name="wordcloud_file"><br><br>
        
        <button type="submit">Generar Reporte</button>
    </form>
</body>
</html>
